
.card { 
  margin-bottom: 30px;
  border: none;
}

.clickable {
  min-height: 255px;
}

.card-footer {
  padding: 0;
  background: #fff;
}

.card-footer button {
  cursor: pointer;
  text-transform: uppercase;
}

.clickable:hover>img {
  opacity: 0.5;
  cursor: pointer;
}


