
<div class="container defaultHeight" style="padding-top: 20px;">
    <button class="btn exportBtn">{{resourceString[0]}}</button>
    <button class="btn exportBtn">{{resourceString[1]}}</button>
        <div class="dataDiv allData" *ngIf='isAverage; else session'>
            <span class="globalDataText" *ngIf='isUser'>{{resourceString[2]}}:</span>&nbsp;<span class="globalDataText simpleText">{{averageData.userIp}}</span><br/>
            <span class="globalDataText">{{resourceString[3]}}:</span>&nbsp;<span class="globalDataText simpleText">{{resourceString[24]}}</span><br/>
            <span class="globalDataText">{{resourceString[4]}}:</span>&nbsp;<span class="globalDataText simpleText">{{averageData.mostUsedBrowser}}</span><br/>
            <span class="globalDataText">{{resourceString[5]}}:</span>&nbsp;<span class="globalDataText simpleText">{{resourceString[25]}}</span><br/>
            <span class="globalDataText">{{resourceString[6]}}:</span>&nbsp;<span class="globalDataText simpleText">{{averageData.mostPopularReffer}}</span><br/>
            <span class="globalDataText">{{resourceString[7]}}:</span>&nbsp;<span class="globalDataText simpleText">{{averageData.averageTimeOnPages.toString()}}</span><br/>
            <span class="globalDataText">{{resourceString[8]}}:</span>&nbsp;<span class="globalDataText simpleText">{{resourceString[26]}}</span><br/>
            <span class="globalDataText">{{resourceString[9]}}:</span>&nbsp;<span class="globalDataText simpleText">{{averageData.avItemBuy.toString()}}</span><br/>
            <div><mat-checkbox
                [checked]="averageData.mostlyLogged"
                [disabled]="true"
                labelPosition="after"
                > {{resourceString[23]}}</mat-checkbox></div>
        </div>
    <ng-template #session>
        <div class="dataDiv charts">
            <span class="globalDataText">{{resourceString[10]}}:</span>&nbsp;<span class="globalDataText simpleText">{{acvtiveSession.userId}}</span><br/>
            <span class="globalDataText">{{resourceString[11]}}:</span>&nbsp;<span class="globalDataText simpleText">{{acvtiveSession.sessionId}}</span><br/>
            <span class="globalDataText">{{resourceString[2]}}:</span>&nbsp;<span class="globalDataText simpleText">{{acvtiveSession.userIp}}</span><br/>
            <span class="globalDataText">{{resourceString[12]}}:</span>&nbsp;<span class="globalDataText simpleText">{{acvtiveSession.visitDate}}</span><br/>
            <span class="globalDataText">{{resourceString[13]}}:</span>&nbsp;<span class="globalDataText simpleText">{{this.resourceString[27]}}</span><br/>
            <span class="globalDataText">{{resourceString[14]}}:</span>&nbsp;<span class="globalDataText simpleText">{{acvtiveSession.browser}}</span><br/>
            <span class="globalDataText">{{resourceString[15]}}:</span>&nbsp;<span class="globalDataText simpleText">{{this.resourceString[28]}}</span><br/>
            <span class="globalDataText">{{resourceString[16]}}:</span>&nbsp;<span class="globalDataText simpleText">{{acvtiveSession.reffer}}</span><br/>
            <div><mat-checkbox
                [checked]="acvtiveSession.didLogged"
                [disabled]="true"
                labelPosition="after"
                ></mat-checkbox> {{resourceString[17]}}</div>
                <div><mat-checkbox
                    [checked]="acvtiveSession.didContacted"
                    [disabled]="true"
                    labelPosition="after"
                    > {{resourceString[18]}}</mat-checkbox></div>

            <div class="cartItemsList">
                <h2>{{resourceString[19]}}</h2>
                <div class="cartItem" *ngFor="let item of acvtiveSession.cartItems; index as i">
                    <span class="globalDataText">{{resourceString[resourceString.length - acvtiveSession.cartItems.length - acvtiveSession.cartItems.length + i]}}</span><br/>
                    <span class="globalDataText simpleText">{{resourceString[resourceString.length - acvtiveSession.cartItems.length + i]}}</span>
                </div>
            </div>
        </div>
        <div class="chartPage">
            <div id="pagesContainer"></div>
            <div id="buyedItemContainer"></div>
        </div>
    </ng-template> 

    <div class="listSessions">
        <mat-selection-list #sessions>
            <mat-list-option
            (click)='averageClicked()'>
                <div class="avDataDiv">{{resourceString[22]}}</div>
            </mat-list-option>
            <mat-list-option *ngFor="let session of sessionsList"
            (click)='sessionClicked(session)'>
                {{session.sessionId}}
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>