<div class="container shop-position">
  <div class="row">
    <div class="col-9">
      <div class="row"> 
          <ng-container *ngFor="let p of filteredProducts; let i = index">
            <div class="col">
              <product-card 
              [cart]="cart"
              [product]="p" 
              ></product-card>
            </div>
            <div id="mobile" *ngIf="(i + 1) % 1 === 0" class="w-100"></div>
            <div id="desktop" *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
          </ng-container>
        </div>
      </div>
      <div class="col-3 float-right">
        <div class="col-12 sticky-top" style="top: 12vh;">
          <app-contact *ngIf="contactVisible"></app-contact>
          <app-shopping-cart [cartActions]="false" [cart]="cart"></app-shopping-cart>
          <product-filter [category]="category"></product-filter>
        </div>
      </div>
    </div>
  </div>


  
