<div class="container defaultHeight">
  <p>
    <a routerLink="/admin/sklep/nowy" class="btn btn-primary" style="margin: 25px;">{{resourceString[0]}}</a>
    <button class="btn btn-primary" style="margin: 25px;" (click)="RefreshDatabase()">{{resourceString[1]}}</button>
  </p>

  <table mat-table [dataSource]="products" class="mat-elevation-z8">
  
    <ng-container matColumnDef="Nazwa">
      <th mat-header-cell *matHeaderCellDef> {{resourceString[2]}} </th>
      <td mat-cell *matCellDef="let product"> {{product.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Opis">
      <th mat-header-cell *matHeaderCellDef> {{resourceString[3]}} </th>
      <td mat-cell *matCellDef="let element"> {{(element.description | slice:0:32) + '...'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Cena">
      <th mat-header-cell *matHeaderCellDef> {{resourceString[4]}} </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency:'PLN ':'code' }} </td>
    </ng-container>

    <ng-container matColumnDef="Akcje">
      <th mat-header-cell *matHeaderCellDef> {{resourceString[5]}} </th>
      <td mat-cell *matCellDef="let element">
        <button class="btn" style="margin: 25px;" (click)="redirect(element)">{{resourceString[6]}}</button>
        <button class="btn btn-danger" style="margin: 25px;" (click)="DeleteProduct(element)">{{resourceString[7]}}</button>
      </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

