<h1>KOSZYK</h1>
<div class="card" *ngIf="cart$ | async as cart" style="width: 80%;">
  <div class="card-body">
    <p>
      W koszyku: {{ cart.totalItemsCount }}
      <button *ngIf="cart.items.length" (click)="clearCart()" class="float-right btn btn-light btn-sm">WYCZYŚĆ</button>

    </p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Produkt</th>
        <th class="text-center" style="width: 230px">Ilość</th>
        <th class="text-right" style="width: 200px">Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail">
          </div>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'PLN':true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency:'PLN':true }}</th>
      </tr>
      <tr>
        <th colspan="4">
          <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">DO KASY</a>
        </th>
      </tr>
    </tfoot>
  </table>
</div>