
<div class="container defaultHeight">
  <div class="row">
    <div class="col-md-6">
      <form class="form">
        <table class="full-width" cellspacing="0"><tr>
          <td><mat-form-field class="full-width" style="width: 500px;">
            <mat-label>{{resourceString[0]}}</mat-label>
            <input matInput [formControl]="name" [(ngModel)]="formName" type="mail" placeholder="{{resourceString[1]}}" required>
            <mat-error *ngIf="name.hasError('required')">{{resourceString[2]}}</mat-error>
          </mat-form-field></td>
        </tr></table>
        <table class="full-width" cellspacing="0"><tr>
          <td><mat-form-field class="full-width"  style="width: 500px;">
            <mat-label>{{resourceString[3]}}</mat-label>
            <mat-select matInput [formControl]="category" [(ngModel)]="formCategory" placeholder="{{resourceString[4]}}" required>
              <mat-option *ngFor="let category of categories$" [value]="category.name">
                {{category.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="category.hasError('required')">{{resourceString[5]}}</mat-error>
          </mat-form-field></td>
        </tr></table>
        <table class="full-width" cellspacing="0"><tr>
          <td><mat-form-field class="full-width"  style="width: 500px;">
            <mat-label>{{resourceString[6]}}</mat-label>
            <textarea matInput [formControl]="description" rows="15" [(ngModel)]="formDescription" placeholder="{{resourceString[7]}}" required></textarea>
            <mat-error *ngIf="description.hasError('required')">{{resourceString[8]}}</mat-error>
          </mat-form-field></td>
        </tr>
        </table>
        <p>
          <mat-form-field class="full-width"  style="width: 500px;">
            <mat-label>{{resourceString[9]}}</mat-label>
            <input matInput [formControl]="price" [(ngModel)]="formPrice" placeholder="1" type="number" required>
            <mat-error *ngIf="price.hasError('required')">{{resourceString[10]}}</mat-error>
          </mat-form-field>
        </p>
        <table class="full-width" cellspacing="0"><tr>
          <td><mat-form-field class="full-width"  style="width: 500px;">
            <mat-label>{{resourceString[11]}}</mat-label>
            <input matInput [formControl]="url" [(ngModel)]="formUrl" type="url" placeholder="www.example.com" required>
            <mat-error *ngIf="description.hasError('required')">{{resourceString[12]}}</mat-error>
          </mat-form-field></td>
        </tr>
        </table>
      </form>
      <div class="buttonsContainer">
        <button class="btn" style="margin-right: 20px;" (click)="save(product)">{{resourceString[13]}}</button>
        <button class="btn btn-danger" (click)="delete()">{{resourceString[14]}}</button>
      </div>
    </div> 
    <div class="col-md-4">
      <product-card [product]="product" [showActions]="false"></product-card>
    </div> 
  </div>
</div>


