.view {
    z-index: -2 !important;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: inherit;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

  header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    height: 85vh;
  }
  
  header.masthead .masthead-content {
    z-index: 1;
    position: relative;
  }
  
  header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
  }
  
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }
  
  header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
  }
  
  @media (min-width: 992px) {
    header.masthead {
      padding-top: calc(10rem + 55px);
      padding-bottom: 10rem;
    }
    header.masthead .masthead-content .masthead-heading {
      font-size: 6rem;
    }
    header.masthead .masthead-content .masthead-subheading {
      font-size: 4rem;
    }
  }



.customBackground {
    position: relative;
    overflow: hidden;
    width: 100vw;
    margin-left: 0 !important;
    background: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
  }
