<div>
  <div class="list-group">
      <a
        id="all-Category"
        class="list-group-item list-group-item-action"
        [class.active]="!category"
        routerLink="/sklep"
        (click)="categoryClicked('all-Category')"
        >{{resourceString[0]}}</a>
      <a 
        *ngFor="let c of categories$; index as i"
        id="{{ c + '-Category' }}"
        (click)="categoryClicked(c+'-Category')"
        routerLink="/sklep"
        [queryParams]="{ category: c }"
        class="list-group-item list-group-item-action"
        [class.active]="category === c"
        >
        {{ resourceString[i+1] }}
      </a>
    </div>
</div>
