<div class="back">
    <div class="iconMail">
        <a class="nav-link" routerLink="/admin/wiadomosci">
            <mat-icon>mail</mat-icon>
            <span class="tooltiptext">Sprawdź wiadomości</span>
        </a>
    </div>
    <div class="iconBuyed">
        <a class="nav-link" routerLink="/admin/zamowienia">
            <mat-icon>add_shopping_cart</mat-icon>
            <span class="tooltiptext link2">Zobacz kupione towary</span>
        </a>
    </div>
    <div class="iconNewOrder">
        <a class="nav-link" routerLink="/admin/sklep">
            <mat-icon>add_box</mat-icon>
            <span class="tooltiptext link3">Dodaj towar</span>
        </a>
    </div>
    <div class="global">
        <a class="nav-link" routerLink="/">
            <mat-icon>public</mat-icon>
            <span class="tooltiptext link4">Dane globalne</span>
        </a>
    </div>
    <div class="users">
        <a class="nav-link" routerLink="/">
            <mat-icon>account_box</mat-icon>
            <span class="tooltiptext link5">Dane użytkowników</span>
        </a>
    </div>
    <div class="sessions">
        <a class="nav-link" routerLink="/">
            <mat-icon>insert_chart</mat-icon>
            <span class="tooltiptext link6">Sesje</span>
        </a>
    </div>
</div>
