
<div class="container defaultHeight" style="padding-top: 20px;">
  <h1>Zamówienia</h1>
<table class="table">
  <thead>
    <tr>
      <th>Klient</th>
      <th>Data</th>
      <th>Przedmioty</th>
      <th>Ilość</th>
      <th>Cena</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async" (click)='ProductClick(order)'>
      <td class="clickableItem">{{ order.shipping.name }}</td>
      <td class="clickableItem">{{ order.datePlaced }}</td>
      <td class="clickableItem">
        <span *ngFor="let item of order.items">{{item.product.title}}, </span>
      </td>
      <td class="clickableItem">{{ totalQuantity(order) }}</td>
      <td class="clickableItem">{{ totalPrice(order) }}</td>
    </tr>
  </tbody> 
</table>
</div>

