
<div class="container defaultHeight" style="padding-top: 20px;">
  <h1>{{resourceString[0]}}</h1>
<table class="table">
  <thead>
    <tr>
      <th>{{resourceString[1]}}</th>
      <th>{{resourceString[2]}}</th>
      <th>{{resourceString[3]}}</th>
      <th>{{resourceString[4]}}</th>
      <th>{{resourceString[5]}}</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async" (click)='ProductClick(order)'>
      <td class="clickableItem">{{ order.shipping.name }}</td>
      <td class="clickableItem">{{ order.datePlaced }}</td>
      <td class="clickableItem">
        <span *ngFor="let item of order.items">{{ item.product.title }}, </span>
      </td>
      <td class="clickableItem">{{ totalQuantity(order) }}</td>
      <td class="clickableItem">{{ totalPrice(order) }}</td>
    </tr>
  </tbody> 
</table>
</div>

