<div class="row no-gutters">
  <div class="col-2">
    <button *ngIf="quantityActions"
      id="{{ product.title + '-removeFromCartButton' }}"
      (click)="removeFromCart(product.title + '-removeFromCartButton')"
      class="btn btn-primary btn-block">-</button> 
  </div>
  <div class="col text-center quantity">
    {{ shoppingCart.getQuantity(product) }} <span *ngIf="quantityActions">w koszyku</span>
  </div>
  <div class="col-2">
    <button *ngIf="quantityActions"
      id="{{ product.title + '-addToCartButton' }}"
      (click)="addToCart(product.title + '-addToCartButton')"
      class="btn btn-primary btn-block">+</button> 
  </div>
</div>