.container {
    margin-left: 33%;
}

#dashboard {
    z-index: 2000;
    height: 100vh;
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: darkgreen;
}

#loading {
   left: 30%;
   position: fixed;
}
