
.dropdown-toggle { 
  cursor: pointer;
}
.navbar {
  background-color: white !important;
    border-bottom: 2px solid green;
    border-radius: 0px 0px 25px 25px;
}
.navbar-brand img{
  width: 80px;
  height: 80px;
}
.nav-link:hover, .nav-link:active {
  color: green !important;
}

.badge {
  background-color: transparent !important;
  color: black !important;
  font-size: 15px;
}

.textWelcome {
  cursor: pointer;
  margin-top: 3px;
  color: #f39c12;
}
