

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="https://i.imgur.com/mMLBLkd.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      <ul class="nav navbar-nav navbar-right">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <app-login></app-login>
          </li>
        </ng-template>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sklep">
            <span><b>SKLEP</b></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kontakt">
            <span><b>KONTAKT</b></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/koszyk">
            <span><b>KOSZYK</b></span>
            <span class="badge badge-warning badge-pill">
              ({{ cart$.totalItemsCount }})
            </span>
          </a>
        </li>
        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ appUser.name }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/moje/zamowienia">Moje Zamówienia</a>
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" routerLink="/admin/zamowienia">Zarządzaj Zamówieniami</a>
              <a class="dropdown-item" routerLink="/admin/sklep">Zarządzaj Produktami</a>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">Wyloguj</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

