
.dropdown-toggle { 
  cursor: pointer;
}
.navbar {
  background-color: white !important;
    border-bottom: 2px solid green;
    border-radius: 0px 0px 25px 25px;
}
.navbar-brand img{
  width: 80px;
  height: 80px;
}
.nav-link:hover, .nav-link:active {
  color: green !important;
}

.badge {
  background-color: transparent !important;
  color: black !important;
  font-size: 15px;
}

.textWelcome {
  cursor: pointer;
  margin-top: 3px;
  color: #f39c12;
}

.sliderParent {
  margin: 5px;
}
.customSlide {
  margin-right: 5px;
  margin-left: 5px;
}

.visible {
  display: inline-block !important;
  text-align: right;
}

.hidden {
  display: none !important;
}

/* responsive navbar */
@media screen and (max-width: 770px) {
  .responsive {
    display: none;
  }
  .mobile {
    font-size: 3vh;
  }
  .textWelcome {
    font-size: 3vh;
  }
  .badge {
    font-size: 3vh !important;
  }
}