

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" id="homeLink" (click)="navbarElClicked('homeLink')">
      <img src="https://i.imgur.com/h7zwP3Y.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" (click)="showNavbar()"></span>
    </button>

    <div class="{{navClasses.join(' ')}}">
      <ul class="nav navbar-nav navbar-right">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <app-login></app-login>
          </li>
        </ng-template>
        <ng-template #loggedUser>
          <li>
            <h2 class="textWelcome" (click)="logout()">
              {{ resourceString[0] + ' ' + userName }}
            </h2>
          </li>
        </ng-template>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sklep" id="shopLink" (click)="navbarElClicked('shopLink')">
            <span><b>{{resourceString[1]}}</b></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sklep" [queryParams]="{ kontakt: true }" id="contactLink" (click)="navbarElClicked('contactLink')">
            <span><b>{{resourceString[2]}}</b></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/koszyk" id="cartLink" (click)="navbarElClicked('cartLink')">
            <span><b>{{resourceString[3]}}</b></span>
            <span class="badge badge-warning badge-pill">( <span id="cartCounter">0</span> )</span>
          </a>
        </li>
        <ng-template *ngIf="isLogged then loggedUser else anonymousUser" class="nav-item"></ng-template>
        <li class="nav-item">
          <div class="sliderParent">
            <span class="customSlide">PL</span><mat-slide-toggle [(ngModel)]='langChecked' [checked]='langChecked' (change)='onChange()'>ENG</mat-slide-toggle>
          </div>
        </li>
      </ul>
    </div>
    <div class="responsive">
      <ul class="nav navbar-nav navbar-right">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <app-login></app-login>
          </li>
        </ng-template>
        <ng-template #loggedUser>
          <li>
            <h2 class="textWelcome" (click)="logout()">
              {{ resourceString[0] + ' ' + userName }}
            </h2>
          </li>
        </ng-template>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sklep" id="shopLink" (click)="navbarElClicked('shopLink')">
            <span><b>{{resourceString[1]}}</b></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sklep" [queryParams]="{ kontakt: true }" id="contactLink" (click)="navbarElClicked('contactLink')">
            <span><b>{{resourceString[2]}}</b></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/koszyk" id="cartLink" (click)="navbarElClicked('cartLink')">
            <span><b>{{resourceString[3]}}</b></span>
            <span class="badge badge-warning badge-pill">( <span id="cartCounter">0</span> )</span>
          </a>
        </li>
        <ng-template *ngIf="isLogged then loggedUser else anonymousUser" class="nav-item"></ng-template>
        <li class="nav-item">
          <div class="sliderParent">
            <span class="customSlide">PL</span><mat-slide-toggle [(ngModel)]='langChecked' [checked]='langChecked' (change)='onChange()'>ENG</mat-slide-toggle>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </nav>

