
<div class="container">
  <h1>{{resourceString[0]}}</h1>
  <form class="form">
    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <mat-label>{{resourceString[1]}}</mat-label>
        <input matInput [formControl]="mail" [(ngModel)]="formMail" type="mail" placeholder={{resourceString[8]}} id="mailInput" (keydown)="collectClick('mailInput')" required>
        <mat-error *ngIf="mail.hasError('required')">{{resourceString[2]}}</mat-error>
      </mat-form-field></td>
    </tr></table>
    <p>
      <mat-form-field class="full-width">
        <mat-label>{{resourceString[3]}}</mat-label>
        <input matInput [formControl]="subject" [(ngModel)]="formSubject" placeholder={{resourceString[9]}} id="subjectInput" (keydown)="collectClick('subjectInput')" required>
        <mat-error *ngIf="subject.hasError('required')">{{resourceString[4]}}</mat-error>
      </mat-form-field>
    </p>
    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <mat-label>{{resourceString[5]}}</mat-label>
        <textarea matInput [formControl]="body" [(ngModel)]="formBody" placeholder={{resourceString[10]}} id="bodyInput" (keydown)="collectClick('bodyInput')" required></textarea>
        <mat-error *ngIf="body.hasError('required')">{{resourceString[6]}}</mat-error>
      </mat-form-field></td>
    </tr>
    </table>
    <button class="confirmButton" *ngIf="!mail.hasError('required') && !subject.hasError('required') && !body.hasError('required')"
    mat-button color="primary"
    id="sendMessageButton"
    (click)="sendMessage('sendMessageButton')"
    >{{resourceString[7]}}
    </button>
  </form>
</div>
