.btn:disabled {
    background-color: darkgray;
    border-color: darkgray;
}

.btn:disabled:hover {
    background-color: darkgray;
    border-color: darkgray;
}

h1 {
    color: green;
    font-weight: bold;
}

.confirmButton {
    float: right;
    border: 1px solid green;
}

@media screen and (max-width: 770px) {
    .confirmButton {
        position: fixed;
        right: 50px !important;
    }
  }