
<div class="container defaultHeight" style="padding-top: 20px;">
    <h1>{{resourceString[0]}}</h1>
  <table class="table">
    <thead>
      <tr>
        <th>{{resourceString[1]}}</th>
        <th>{{resourceString[2]}}</th>
        <th>{{resourceString[3]}}</th>
        <th>{{resourceString[4]}}</th>
        <th></th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let message of messages$ | async">
        <td>{{ message.date }}</td>
        <td>{{ message.mail }}</td>
        <td> {{ message.subject }}</td>
        <td class="mailBody">
            {{ shortSentence(message.body) }}
            <div class="tooltiptext">
                <span>{{ message.body }}</span>
            </div>
        </td>
        <td ><a [href]="'mailto:' + message.mail" class="btn button" style="color: white;">{{resourceString[5]}}</a></td>
      </tr>
    </tbody> 
  </table>
  </div>