.mailBody:hover > .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    position: sticky;
    border-radius: 5px;
    max-width: 250px;
    border: 2px solid darkgreen;
    background-color: green;
    color: white;
    word-wrap: normal;
}