.btn:disabled {
    background-color: darkgray;
    border-color: darkgray;
}

.btn:disabled:hover {
    background-color: darkgray;
    border-color: darkgray;
}

.confirmButton {
    border: 2px solid green;
}

@media screen and (max-width: 770px) {
    .full-width {
        width: 25vw !important;
    }
    .mat-form-field {
        width: 33vw !important;
    }
    .form {
        margin-bottom: 100px;
    }
  }