.btn:disabled {
    background-color: darkgray;
    border-color: darkgray;
}

.btn:disabled:hover {
    background-color: darkgray;
    border-color: darkgray;
}

.confirmButton {
    border: 2px solid green;
}