
<form class="form">
  <table class="full-width" cellspacing="0"><tr>
    <td><mat-form-field class="full-width">
      <mat-label>{{resourceString[0]}}</mat-label>
      <input matInput [formControl]="name" [(ngModel)]="formName" id="nameInput" (keydown)="KeyDownHandler('nameInput')" required>
      <mat-error *ngIf="name.hasError('required')">{{resourceString[1]}}</mat-error>
    </mat-form-field></td>
    <td style="padding-left: 50px;"><mat-form-field class="full-width">
      <mat-label>{{resourceString[2]}}</mat-label>
      <input matInput [formControl]="surname" [(ngModel)]="formSurname" id="surnameInput" (keydown)="KeyDownHandler('surnameInput')" required>
      <mat-error *ngIf="surname.hasError('required')">{{resourceString[3]}}</mat-error>
    </mat-form-field></td>
  </tr></table>
  <p>
    <mat-form-field class="full-width">
      <mat-label>{{resourceString[4]}}</mat-label>
      <input matInput [formControl]="street" [(ngModel)]="formStreet" placeholder="{{resourceString[5]}}" id="streetInput" (keydown)="KeyDownHandler('streetInput')" required>
      <mat-error *ngIf="street.hasError('required')">{{resourceString[6]}}</mat-error>
    </mat-form-field>
  </p>
  <table class="full-width" cellspacing="0"><tr>
    <td><mat-form-field class="full-width">
      <mat-label>{{resourceString[7]}}</mat-label>
      <input matInput [formControl]="postcode" [(ngModel)]="formPostCode" #postalCode maxlength="5" placeholder="{{resourceString[8]}}" type="number" id="postcodeInput" (keydown)="KeyDownHandler('postcodeInput')" required>
      <mat-error *ngIf="postcode.hasError('required')">{{resourceString[9]}}</mat-error>
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
    <td style="padding-left: 50px;"><mat-form-field class="full-width">
      <mat-label>{{resourceString[10]}}</mat-label>
      <input matInput [formControl]="city" [(ngModel)]="formCity" placeholder="{{resourceString[11]}}" id="cityInput" (keydown)="KeyDownHandler('cityInput')" required>
      <mat-error *ngIf="city.hasError('required')">{{resourceString[12]}}</mat-error>
    </mat-form-field></tr>
    <td><mat-form-field class="full-width">
      <mat-label>{{resourceString[13]}}</mat-label>
      <input matInput [formControl]="region" [(ngModel)]="formRegion" placeholder="{{resourceString[14]}}" id="regionInput" (keydown)="KeyDownHandler('regionInput')" required>
      <mat-error *ngIf="city.hasError('required')">{{resourceString[15]}}</mat-error>
    </mat-form-field></td>
  </table>
  <button class="confirmButton" *ngIf="!name.hasError('required') && !surname.hasError('required') && !street.hasError('required')
  && !postcode.hasError('required') && !city.hasError('required') && !region.hasError('required')" 
  mat-button color="primary"
  id="placeOrderButton"
  (click)="placeOrder('placeOrderButton')">
    {{resourceString[16]}}
  </button>
</form>

