<div class="container-fluid defaultHeight">
  <div class="content-wrapper">	
    <div class="item-container">	
      <div class="container">
        <div class="row">
        <div class="col-md-6">
          <div>
            <img *ngIf="product.imageUrl" id="item-display" [src]="product.imageUrl" alt="{{ resourceString[7] }}"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-title">{{resourceString[0]}}: {{ resourceString[7] }}</div>
        <hr>
        <div class="product-price">{{resourceString[1]}}: {{ (product.price | currency:'PLN ':'code') }}</div>
        <div class="product-stock">{{resourceString[2]}}: <span class="text-green">{{resourceString[3]}}</span></div>
        <hr>
        <div class="btn-group cart">
          <button 
            id="{{ product.title + '-detailsPageAddtoCartButton' }}"
            type="button" 
            (click)="addToCart(product.title + '-detailsPageAddtoCartButton')" 
            class="btn btn-success">
            {{resourceString[4]}}
          </button>
          <button 
            id="{{ product.title + '-detailsPageRemovefromCartButton' }}"
            type="button" 
            (click)="removeFromCart(product.title + '-detailsPageRemovefromCartButton')" 
            class="btn btn-danger margin-left">
            {{resourceString[5]}}
          </button>
        </div>
    </div>
  </div>
  <div class="row">
    <ul id="myTab" class="nav nav-tabs nav_tabs">
          
      <li class="active"><div data-toggle="tab">{{resourceString[6]}}</div></li>
      
    </ul>
  <div id="myTabContent" class="tab-content">
        <div class="product-info">
         <span>{{ resourceString[8] }}</span>
      </div>
  </div>
  </div>	
</div>