#item-display {
    max-width: 500px;
}

.product-title, .product-price, .product-stock, .btn-group {
    margin-top: 50px;
}

.product-price {
    border-bottom: 1px solid lightgray;
}

.text-green {
    color: green;
}

.btn.margin-left {
    margin-left: 20px !important;
}

.tab-content {
    border-top: 1px green solid;
}

.btn-group.cart {
    margin-top: 0 !important;
}

@media screen and (max-width: 770px) {
    .product-info {
        display: block;
        margin-bottom: 50px;
    }
}

