.bg-color {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    z-index: 3000;
  }

.leftFooter { 
  float: left;
  width: 50%;
}
.leftFooter>h5 {
  padding-top: 10px;
}
.rightFooter { 
  float: right; 
  width: 35%;
}
.rightFooter>h5 {
  padding-top: 10px;
}

