/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* @import "~font-awesome/css/font-awesome.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { max-width: 100%; margin-top: 8px; overflow-x: hidden; margin-bottom: 50px; }

app-root { position: absolute; top: 100px; width: 100%; }

.defaultHeight {
    min-height: calc(100vh - 150px);
    padding-top: 20px;
}

.colorGreen {
  color: green;
}

.colorGreen:hover {
  color: darkgreen !important;
}

.btn {
  background-color: green !important;
  border-color: green !important;
  color: white !important;
  outline: none !important;
  text-decoration: none !important;
}

.btn:hover {
  background-color: darkgreen !important;
  border-color: darkgreen !important;
}


.btn-danger {
  background-color: red !important;
  border-color: red !important;
}

.btn-danger:hover {
  background-color: darkred !important;
  border-color: darkred !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table {
  padding-right: 10px;
}
table {
  border-collapse: none;
}
